/* navbar section */

#navbar-section {
  background-color: #025c68;
  padding: 1% 7%;
}

.item {
  padding: 2%;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
}
.item:hover {
  color: #fff;
  padding-bottom: 0;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.active {
  border-bottom: 1px solid #fff;
  color: #fff;
}
.active:hover {
  padding: 2%;
}

@media (max-width: 1028px) {
  #navbar-section {
    padding: 1%;
  }

  br {
    display: none;
  }

  .item {
    text-align: left;
    color: #fff;
  }

  .item:hover {
    background-color: #fff;
    color: #025c68;
    padding: 2%;
  }

  .active {
    border-bottom: none;
    border-bottom: none;
  }

  img {
    width: 30%;
  }
}

/* Form Section */

#Form {
  background-color: #f8f9fa !important;
  padding: 3% 7% 1%;
  font-family: "Poppins", sans-serif;
}
.form-row {
  margin-bottom: 1%;
}

/* Footer Section */

#footer {
  background-color: #f8f9fa !important;
  padding: 1% 7% ;
  font-family: "Poppins", sans-serif;
}
button{
    background-color: #025c68;
    color: white;
}
button:hover{
    background-color: #025c68;
}

